/* CSS Document */

/* 案件管理 */
/* 案件头部菜单 */
#submenuCase{
	border-bottom:1px solid #ccc;
	line-height:32px;
}
#submenuCase #box1{
	float:left;
	padding:0 5px 0 70px;
	border-right:1px solid #ccc;
}
#submenuCase #box1 span{
	float:left;
}
#submenuCase #box1 ul{
	float:left;
}
#submenuCase #box1 ul li{
	float:left;
	margin:6px 6px 0;
}
#submenuCase #box1 ul li a{
	display:block;
	padding:4px 6px;
	line-height:12px;
}
#submenuCase #box1 ul li.current a,
#submenuCase #box1 ul li a:hover{
	background-color:#08c;
	color:#fff;
	-moz-border-radius:3px;
	border-radius:3px;
	text-decoration:none;
}

#submenuCase #box2{
	padding:0 10px;
	float:left;
	border-right:1px solid #ccc;
}
#submenuCase #box2 span{
	float:left;
	_margin-top:6px;
}
#submenuCase #box2 .sequence,
#submenuCase #box2 .up{
	padding: 2px 5px 2px 15px;
	background:url(../../images/iconMenu.png) no-repeat;
	background-position:0 -116px;
	cursor:pointer;
	font-weight: normal;
	line-height:normal;
}
#submenuCase #box2 .cur{
	border:1px dotted #ccc !important;
}
#submenuCase #box2 .up{
	background-position:0 -146px;
}
#submenuCase #box2 .select{
	float:left;
	position:relative;
	margin-top:3px;
	line-height:25px;
}
#submenuCase #box2 .selectbox {
	border:none;
	position:relative;
	width:50px;
	height:24px;
	line-height:24px;
	margin:-1px -1px 0;
	background: url(../../images/iconBtn.gif) no-repeat;
	background-position: 56px -59px;
	_background-position: 59px -61px;
	padding:0 15px 0 5px;
	display:block;
	text-decoration:none;
	cursor:pointer;
}
#submenuCase #box2 .selectbox.cur{
	border-color:#ccc;
	border-style:solid !important;
	border-width:1px 1px 0 1px;
	-moz-border-radius:3px 3px 0px 0px;
	border-radius:3px 3px 0px 0px;
}
#submenuCase #box2 .select .selectbox-wrapper{
	background-color:#fff;
	border-color:#ccc;
	border-style:solid;
	border-width:0 1px 1px 1px;
	-moz-border-radius:0px 0px 3px 3px;
	border-radius:0px 0px 3px 3px;
	position:absolute;
	width:70px !important;
	right:-1px;
	top:24px;
}
#submenuCase #box2 .select ul li{
	padding:1px;
	padding:0 8px;
	display:block;
	line-height:24px;
	height:24px;
	font-size:12px;
}


#submenuCase #box4{
	float:right;
	margin-right:80px;
}
#submenuCase #box5{
	float:right;
	margin-right:15px;
}
#submenuCase #box5 a{
	background-image: url(../../images/iconMenu.png);
	background-repeat: no-repeat;
	padding: 0 0 0 20px;
	background-position: 0 -21px;
	display: block;
	width: 50px;
}



/* 列表开始 */
#list .box .thead{
}
#list .box .thead .td1,
#list .box .thead .td2,
#list .box .thead .td3,
#list .box .thead .td4,
#list .box .thead .td5{
	border-right:1px solid #ccc;
	float:left;
	font-weight:bold;
	text-align:center;
}
#list .box .thead .td1{
	width: 380px;
	padding-left: 40px;
}
#list .box .thead .td1 h2{
	font-size:14px;
	float:left;
	padding:0 8px;
	font-weight:bold;
}
#list .box .thead .td1 span{
	float:left;
}
#list .box .thead .td2,
#list .box .thead .td3{
	width:160px;
}
#list .box .thead .td4{
	width:120px;
}
#list .box .thead .td5{
	width:80px;
	border:none;
}

#list .box .normal .td1{
	float:left;
	width:380px;
	padding-left:40px;
	border-right:1px dotted #ccc;
}
#list .box .normal .td1 h2{
	font-size:14px;
	float:left;
	padding:0 8px;
}
#list .box .normal .td1 span{
	color:#999;
	float:left;
}
#list .box .normal .td1 span b{
	font-weight:normal;
	padding:0 5px;
	color:#333;
}
#list .box .normal .td2,
#list .box .normal .td3{
	float:left;
	width:140px;
	padding:0 10px;
	border-right:1px dotted #ccc;
}
#list .box .normal .td4{
	float:left;
	width:120px;
	text-align:center;
	border-right:1px dotted #ccc;
}
#list .box .normal .td4 .doing{
	color:#393;
	font-weight:normal;
}
#list .box .normal .td4 .over{
	color:#999;
	font-weight:normal;
}
#list .box .normal .td5{
	float:left;
	width:80px;
}

#list .box .normal.current {
	background: #eee;
}
#list .box .normal.current .td1{
	width:377px;
	border-left:3px solid #393;
}
#list .box .normal.cur {
	background: #ffc;
}

#list{
}
#list .box{
	border-bottom:1px solid #ccc;
	line-height:32px;
}
#list .box .normal{
}
#list .box .normal .li1{
	float:left;
	width:780px;
}
#list .box .normal .li1 h2{
	font-size:14px;
	float:left;
	font-weight:bold;
	padding:0 0 0 40px;
	font-size:24px;
}
#list .box .normal .li1 h2.bidding{
	background:url(../../images/iconCase.gif) no-repeat 20px 0;
}
#list .box .normal .li1 span{
	color:#999;
	padding-left:8px;
}
#list .box .normal .li1 span b{
	font-weight:normal;
	padding:0 5px;
	color:#333;
}
#list .box .normal .li1 .right{
	padding-right:20px;
}
#list .box .normal .li1 span .doing{
	color:#F00;
}
#list .box .normal .li1 span .over{
	color:#393;
}
#list .box .normal .li2{
	float:left;
}
#list .box .normal .li2 dl{
	float:left;
	width:260px;
}
#list .box .normal .li2 dt{
	float:left;
	width:40px;
	text-align:right;
	color:#999;
}
#list .box .normal .li2 dd{
	margin-left:45px;
}
#list .box .normal .li2 dd span{
	color:#333;
	padding:0 6px;
}
/* 详情 */
#list .box .details .li2,
#list .box .details .li3{
	clear:both;
	width:850px;
}
#list .box .details .li3 dl{
}
#list .box .details .li2 dt,
#list .box .details .li3 dt{
	float:left;
	width:80px;
	text-align:right;
	color:#999;
}
#list .box .details .li2 dd,
#list .box .details .li3 dd{
	margin-left:85px;
	color:#ccc;
}
#list .box .details .li2 dd span,
#list .box .details .li3 dd span{
	color:#333;
	padding:0 6px;
}


#list .box .normal .li5{
	float:right;
	color:#999;
	margin-right:50px;
	width:80px;
}
#list .box .normal .li5 a{
	display:block;
	float:right;
	height:32px;
	background:url(../../images/iconBtn.png) no-repeat 0 -309px;
	padding-left:20px;
	line-height:32px;
}
#list .box .normal .li5 b{
	font-weight:normal;
	padding:0 10px;
	color:#333;
}

#list .box .normal .li0 {
	float:right;
	width:40px;
	height:32px;
	display:block;
}
#list .box .normal .more{
	float:right;
	position:relative;
	margin:8px 28px 0 0;
	_margin:8px 14px 0 0;
}
#list .box .normal .more .selected.current{
	background-color: #fff;
	border-color: #CCC;
	display:block;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	position: relative;
	z-index:1;
}
#list .box .normal .more .selected a{
	background: url(../../images/iconMenu.png) no-repeat;
	background-position: 2px -178px;
	height:20px;
	width:20px;
	display: block;
	text-decoration: none;
}
#list .box .normal .more ul{
	background-color: white;
	border-color: #CCC;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 3px 0px 3px 3px;
	border-radius: 3px 0px 3px 3px;
	position: absolute;
	right: 0;
	top: 20px;
}
#list .box .normal .more ul li{
	padding:1px;
}
#list .box .normal .more ul li a{
	padding: 0 0 0 6px;
	width: 60px;
	color: #666;
	display: block;
	line-height: 25px;
}
#list .box .normal .more ul li a:hover{
	background-color:#08c;
	color:#fff;
	text-decoration:none;
}


#list .box .details{
	border-left:3px solid #393;
}
#list .box .details .btn{
	position:absolute;
	top:-32px;
	right:0px;
}
#list .box .details .btn a{
	background: url(../../images/iconBtn.gif) no-repeat;
	background-position: 52px -64px;
	_background-position: 52px -66px;
	padding-right:20px;
}
#list .box .details .layer{
	border-top:1px solid #ccc;
}

#list .box .details .layer .files{
	border-bottom:1px dotted #ccc;
	padding-bottom:10px;
}
#list .box .details .layer .files h2{
	font-weight:bold;
	padding-left:40px;
}
#list .box .details .layer .files dl{
	float:left;
}
#list .box .details .layer .files dt{
	float:left;
	width:120px;
	text-align:right;
	color:#999;
}
#list .box .details .layer .files dd{
	float:left;
	width:195px;
	color:#666;
}
#list .box .details .layer .files .ddL{
	width:510px;
}
#list .box .details .layer .filesBox h3{
	margin-left:34px;
	width:65px;
	padding:0 6px;
	color:#666;
	line-height:26px;
	cursor:pointer;
	background-image:url(../../images/iconBtn.gif);
	background-position:58px -575px;
	background-repeat:no-repeat;
}
#list .box .details .layer .filesBox h3.up{
	background-position:58px -607px;
}
#list .box .details .layer .filesBox h3.current{
	background-color:#08c;
	color:#fff;
	-moz-border-radius:3px;
	border-radius:3px;
}


#list .box .details .layer .target{
	float:left;
	width:165px;
	background-color:transparent;
	margin-left:32px;
}
#list .box .details .layer .target .edit{
	float:right;
	margin-right:8px;
}
#list .box .details .layer .target h2,
#list .box .details .layer .clue h2{
	font-weight:bold;
	padding:0 8px;
}


#list .box .details .layer .target .menu{
	position:relative;
	left:1px;
}
#list .box .details .layer .target .menu li a{
	display:block;
	height:28px;
	line-height:28px;
	padding-left:8px;
	color:#666;
	width:157px;
	white-space:nowrap;
	overflow:hidden;
	-o-text-overflow: ellipsis;    /* for Opera */
	text-overflow:ellipsis;        /* for IE */
}
#list .box .details .layer .target .menu li.current {
	border-color:#ccc;
	border-style:solid;
	border-width:1px 0 1px 1px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	background-color:#eee;
}
#list .box .details .layer .target .menu li a:hover{
	background-color:#08c;
	color:#fff;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	text-decoration:none;
}



#list .box .details .layer .clue{
	float:left;
	width:710px;
	display:inline;
	background-color:#eee;
	border:1px solid #ccc;
	min-height:200px;
	_height:200px;
}
#list .box .details .layer .clue .edit{
	float:right;
	margin-right:8px;
}
#list .box .details .layer .clue .clueList{
	padding:8px;
}
#list .box .details .layer .clue .clueList .cluebox{
	border-bottom:1px dotted #ccc;
	line-height:24px;
	color:#666;
}
#list .box .details .layer .clue .clueList .cluebox .box1{
	float:left;
	width:240px;
}
#list .box .details .layer .clue .clueList .cluebox .box1 h2{
	float:left;
	font-weight:normal;
}
#list .box .details .layer .clue .clueList .cluebox .box1 span{
	float:left;
	padding:0 8px;
	color:#999;
}
#list .box .details .layer .clue .clueList .cluebox .box1 span b{
	font-weight:normal;
	color:#666;
	padding:0 5px;
}
#list .box .details .layer .clue .clueList .cluebox .box1 span strong{
	color:#F00;
	font-weight:normal;
}
#list .box .details .layer .clue .clueList .cluebox .box2{
	float: left;
	width:120px;
}
#list .box .details .layer .clue .clueList .cluebox .box2 dt{
	float:left;
	color:#999;
}
#list .box .details .layer .clue .clueList .cluebox .box2 dd{
	float:left;
}
#list .box .details .layer .clue .clueList .cluebox .box3{
	float: right;
	position:relative;
	z-index:1;
}
#list .box .details .layer .clue .clueList .cluebox .box3 h3 a{
	background: url(../../images/iconBtn.gif) no-repeat;
	background-position: 58px -62px;
	padding:4px 18px 4px 6px;
}
#list .box .details .layer .clue .clueList .cluebox .box3 h3 a:hover{
	background-color:#08c;
	color:#fff;
	-moz-border-radius:3px;
	border-radius:3px;
	text-decoration:none;
}
#list .box .details .layer .clue .clueList .cluebox .box4{
	clear:both;
}
#list .box .details .layer .clue .clueList .cluebox .box4 dl{}
#list .box .details .layer .clue .clueList .cluebox .box4 dt{
	float:left;
	width:38px;
	text-align:right;
	color:#999;
}
#list .box .details .layer .clue .clueList .cluebox .box4 dd{
	float:left;
	width:650px;
}

#list .box .details .layer .clue .clueList .cluebox .box5{
	float:right;
	color:#999;
	margin:0 0 0 20px;
}
#list .box .details .layer .clue .clueList .cluebox .box6{
	float:right;
	position:relative;
}
#list .box .details .layer .clue .clueList .cluebox .box6 .more{
	margin:0;
}
#list .box .details .layer .clue .clueList .cluebox .box6 .more.current{
	background-color: white;
	border-color: #CCC;
	display: block;
	border-style: solid;
	border-width: 1px 1px 0px 1px;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	position: relative;
	margin: -1px -1px 0;
	z-index: 1;
}
#list .box .details .layer .clue .clueList .cluebox .box6 .more a{
	background: url(../../images/iconBtn.png) no-repeat;
	background-position: 32px -60px;
	padding: 0 15px 0 5px;
	line-height:24px;
	display: block;
	text-decoration: none;
}
#list .box .details .layer .clue .clueList .cluebox .box6 ul{
	background-color: white;
	border-color: #CCC;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 3px 0px 3px 3px;
	border-radius: 3px 0px 3px 3px;
	position: absolute;
	right: -1px;
	top: 23px;
}
#list .box .details .layer .clue .clueList .cluebox .box6 ul li a{
	padding: 0 0 0 6px;
	width: 60px;
	color: #666;
	display: block;
	line-height: 25px;
}
#list .box .details .layer .clue .clueList .cluebox .box6 ul li a:hover{
	background-color:#08c;
	color:#fff;
	text-decoration:none;
}

































#listFooter{
	padding:10px 5px;
}
