/* CSS Document */

/* 登录页面样式 */
#wrapper {
	background: url(../../images/backgroundLogin.jpg) #0e3e86 no-repeat center top;
}
#login {
	background: url(../../images/backgroundLoginboxPki.png) no-repeat center top;
	width:520px;
	height:170px;
	padding-top:130px;
	margin:160px auto 0;
	position:relative;
}
.coldLogin{
	height:160px !important;
	padding-top:140px !important;
}
.coldLogin .select{
	display:none;
}
.select {
	background: url(../../images/iconLogin.gif) no-repeat #fff;
	background-position: 5px -128px;
	z-index:1;
	width:280px;
	margin:0 auto;
}

.select .selectbox {
	background:url(../../images/iconBtn.png) 260px -54px no-repeat;
	cursor:pointer;
	padding:0 0 0 30px;
	width:250px;
	height:36px;
	line-height:36px;
	font-size:14px;
	color:#999;
}

.select .selectbox-wrapper {
	position:absolute;
	left:0px;
	top:36px;
	width:280px !important;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #ccc;
	-moz-border-radius:3px;
	border-radius:3px;
}
.select .selectbox-wrapper li {
	margin:1px;
	display:block;
	color:#666;
	height:32px;
	line-height:32px;
	padding:0 0 0 30px;
	font-size:14px;
	cursor:pointer;
}
.select .selectbox-wrapper li.current {
	background-color:#08c;
	color:#fff;
	text-decoration:none;
}

.error{
	width:280px;
	margin:0 auto;
	line-height:26px;
	height:26px;
	color:#08c;
	text-align: right;
}

.submit {
	background:url(../../images/iconBtn.png) 0 0 no-repeat;
	width:102px;
	height:42px;
	margin:0 auto;
}
.submit input {
	background-color:transparent;
	color:#fff;
	border:none;
	width:102px;
	height:42px;
	line-height:42px;
	font-size:14px;
}

#download{
	position:absolute;
	bottom:20px;
	left:60px;
	color:#fff;
}
#download a{
	color:#fff;
}
