/* previewuser */
.module-history-list {
  position: relative;
  height: 40px;
  line-height: 40px;
  display: block; }
  .module-history-list .history-list-dir {
    position: relative;
    height: 40px;
    line-height: 40px;
    display: block; }
  .module-history-list .history-list-tips {
    position: absolute;
    right: 20px;
    top: 0; }

.list-view-header {
  position: relative;
  z-index: 3;
  height: 43px;
  background: #f7f7f7; }
  .list-view-header .list-cols {
    background: #f7f7f7;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    color: #888;
    height: 41px;
    line-height: 41px;
    overflow: hidden; }
    .list-view-header .list-cols .col {
      float: left;
      border-left: 1px solid #fff;
      border-right: 1px solid #e5e5e5;
      border-bottom: 0;
      cursor: pointer;
      text-indent: 10px; }
      .list-view-header .list-cols .col .g-button {
        float: right;
        margin: 7px 5px 0 5px;
        display: inline-block;
        padding-left: 15px;
        background: url(../images/btn_2d148f3.png) no-repeat 0 -144px;
        vertical-align: top;
        white-space: nowrap;
        outline: 0;
        font-size: 12px;
        font-weight: 400;
        color: #666;
        height: 28px;
        line-height: 28px;
        text-decoration: none;
        position: relative; }
        .list-view-header .list-cols .col .g-button .g-button-right {
          position: relative;
          right: -1px;
          display: block;
          text-align: center;
          padding-right: 15px;
          height: 28px;
          line-height: 26px;
          background: url(../images/btn_2d148f3.png) no-repeat right -144px;
          cursor: pointer; }
          .list-view-header .list-cols .col .g-button .g-button-right .icon-download-gray {
            background: url(../images/sys-icon_9b5f22d.png) no-repeat -60px 0; }
            .list-view-header .list-cols .col .g-button .g-button-right .icon-download-gray:hover {
              background: url(../images/sys-icon_9b5f22d.png) no-repeat -120px 0; }
          .list-view-header .list-cols .col .g-button .g-button-right .icon-delete {
            background: url(../images/sys-icon_9b5f22d.png) no-repeat -210px 0; }
            .list-view-header .list-cols .col .g-button .g-button-right .icon-delete:hover {
              background: url(../images/sys-icon_9b5f22d.png) no-repeat -270px 0; }
        .list-view-header .list-cols .col .g-button .icon {
          display: inline-block;
          margin-right: 4px;
          vertical-align: middle;
          height: 24px;
          width: 20px; }
        .list-view-header .list-cols .col .g-button .text {
          display: inline-block;
          vertical-align: middle; }
    .list-view-header .list-cols .first-col {
      padding-right: 10px;
      border-left: 0;
      text-indent: 0; }
      .list-view-header .list-cols .first-col .check {
        margin: 13px 11px;
        width: 14px;
        height: 14px;
        position: relative;
        vertical-align: middle; }
    .list-view-header .list-cols .last-col {
      border-right: 0; }

.list-view-container {
  height: 468px;
  overflow: scroll;
  overflow-x: auto; }
  .list-view-container .list-view-item {
    position: relative;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #ebebeb;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #FFF; }
    .list-view-container .list-view-item .checkbox {
      margin: 13px 12px;
      width: 14px;
      height: 14px;
      position: absolute;
      z-index: 1; }
    .list-view-container .list-view-item .fileicon {
      cursor: default;
      display: block;
      height: 16px;
      width: 16px;
      position: absolute;
      left: 37px;
      top: 11px;
      background-image: url(../images/listIcon_82b617a.png);
      background-position: -120px 0; }
    .list-view-container .list-view-item .file-name {
      position: relative;
      float: left;
      width: 60%; }
      .list-view-container .list-view-item .file-name .text {
        position: relative;
        text-indent: 60px;
        padding-right: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .list-view-container .list-view-item .file-name .operate {
        position: absolute;
        margin-right: 20px;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 2;
        padding-top: 7px; }
        .list-view-container .list-view-item .file-name .operate .icon {
          display: inline-block;
          margin-right: 4px;
          vertical-align: middle;
          height: 24px;
          width: 20px; }
        .list-view-container .list-view-item .file-name .operate .icon-download-blue {
          background: url(../images/sys-icon_9b5f22d.png) no-repeat -60px 0; }
          .list-view-container .list-view-item .file-name .operate .icon-download-blue:hover {
            background: url(../images/sys-icon_9b5f22d.png) no-repeat -120px 0; }
        .list-view-container .list-view-item .file-name .operate .icon-delete-blue {
          background: url(../images/sys-icon_9b5f22d.png) no-repeat -210px 0; }
          .list-view-container .list-view-item .file-name .operate .icon-delete-blue:hover {
            background: url(../images/sys-icon_9b5f22d.png) no-repeat -270px 0; }
    .list-view-container .list-view-item .file-size {
      text-indent: 10px;
      width: 16%;
      height: 100%;
      float: left;
      text-indent: 10px; }
    .list-view-container .list-view-item .ctime {
      width: 22%;
      height: 100%;
      float: left;
      text-indent: 10px; }

/* uploadfile */
.doc-header {
  position: relative;
  float: left;
  margin-bottom: 10px;
  width: 100%;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .doc-header .doc-header-title {
    display: block;
    color: #333;
    padding: 0 8px;
    line-height: 28px;
    border-right: 1px solid #ccc;
    float: left; }
  .doc-header .doc-header-body {
    height: 26px;
    width: 93%;
    padding: 0 8px;
    color: #333;
    border: 0; }

.eidtor {
  width: 100%; }

.submit-reset {
  margin-top: 10px; }
  .submit-reset .submit, .submit-reset .reset {
    margin-top: 10px;
    background-image: url(../images/iconBtn.png);
    background-repeat: no-repeat;
    background-position: 0 -401px;
    width: 75px;
    height: 30px;
    display: block;
    float: left;
    margin: 0 8px 0 0; }
    .submit-reset .submit input, .submit-reset .reset input {
      width: 75px;
      height: 30px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: #fff; }
  .submit-reset .reset {
    background-position: 0 -467px; }
    .submit-reset .reset input {
      color: #666; }

/* details */
.details {
  overflow: scroll;
  overflow-x: auto; }
  .details h1 {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    border-left: 6px solid #58595B;
    font-size: 1.8em;
    font-weight: bold; }
    .details h1 span {
      margin-left: 20px;
      font-size: 0.6em;
      font-weight: 100; }

/* header-shaw */
#header-shaw {
  background-color: #fff;
  overflow: scroll;
  overflow-x: auto; }
  #header-shaw .title {
    margin: 10px 0; }
    #header-shaw .title .title-left {
      line-height: 1.8em; }
    #header-shaw .title .title-right {
      float: right;
      line-height: 1.8em; }
    #header-shaw .title:after {
      content: "";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
      font-size: 0; }

.panel {
  position: relative; }
  .panel .panel-title {
    margin-bottom: -1px;
    display: inline-block;
    padding: 0 20px;
    border: 1px solid #d2d2d2;
    border-radius: 2px 2px 0 0;
    background-color: #f7f7f7;
    text-align: center;
    font-weight: bold;
    line-height: 2.6em; }
    .panel .panel-title:after {
      content: " :"; }
  .panel .panel-body {
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    background-color: #fff; }
    .panel .panel-body .list {
      width: 100%; }
      .panel .panel-body .list thead {
        border-bottom: 1px solid #d2d2d2;
        background: #f7f7f7;
        text-align: left; }
        .panel .panel-body .list thead th {
          padding: 5px 10px;
          border-right: 1px solid #e5e5e5;
          line-height: 3em; }
        .panel .panel-body .list thead .last {
          border-right: 0; }
      .panel .panel-body .list tbody {
        padding: 10px; }
        .panel .panel-body .list tbody tr {
          border-bottom: 1px solid #d2d2d2; }
          .panel .panel-body .list tbody tr td {
            padding: 0 10px;
            line-height: 3em; }
  .panel:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size: 0; }

.upload {
  margin: 20px auto 20px 0;
  width: 100%; }
  .upload tr {
    border-bottom: 0; }
    .upload tr th {
      width: 20%;
      padding: 10px;
      text-align: right;
      line-height: 1.4em; }
    .upload tr td {
      padding: 10px;
      line-height: 1.4em; }
      .upload tr td input {
        margin-right: 10px; }
  .upload .input-text {
    padding: 3px 5px;
    border: 1px solid #C6C8CC;
    border-radius: 2px; }
    .upload .input-text:hover {
      border: 1px solid #A3CEFF; }
    .upload .input-text:focus {
      border: 1px solid #5CA4F6; }
  .upload .input-browse {
    position: relative; }
    .upload .input-browse .input-left {
      margin-right: 0;
      padding: 3px 5px;
      border: 1px solid #C6C8CC;
      border-radius: 2px 0 0 2px; }
    .upload .input-browse .input-right {
      margin-left: -1px;
      padding: 5px 10px;
      border: 1px solid #C6C8CC;
      border-radius: 0 2px 2px 0; }
    .upload .input-browse .input-top {
      cursor: pointer;
      filter: Alpha(Opacity=0);
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      height: 24px;
      width: 197px;
      border: 1px solid #C6C8CC;
      border-radius: 2px; }
  .upload label {
    margin-right: 20px; }
  .upload .button {
    padding: 3px 20px;
    line-height: 2em; }

/* detail */
.detail {
  box-sizing: border-box;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  height: 500px;
  border-color: #C6C8CC; }

/* button */
.button {
  cursor: pointer;
  display: inline-block;
  padding: 0 15px;
  border-radius: 4px;
  color: #5a5a5a;
  line-height: 1.8em; }

.button-default {
  border: 1px solid #B3B3B3;
  background-color: #f3f3f3; }

.button-default:hover {
  background-color: white; }

.button-blue {
  border: 1px solid #0B63C7;
  color: #fff;
  background-color: #5ca4f6; }

.button-blue:hover {
  background-color: #74b1f7; }

/* base */
.mb15 {
  margin-bottom: 15px; }

/*# sourceMappingURL=new-style.css.map */
